.base {
    display: flex;
     flex-direction: row;   
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 150px;

    .base-caption {
        display: flex;
        flex-direction: column;
       .caption {
        font-family: a_FuturaRound;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 120%;
        letter-spacing: 0.05em;
        color: #EC5F72;
        h1 {
            color: #EC5F72;
            font-size: 48px;}
        
       } 
    }
    .description {
        p {
            font-family: Ubuntu;
            color: #000;
            font-style: normal;
            font-weight: normal;
            font-size: 26px;
            line-height: 130%;
        }
    }
    .base-button {
        margin-top: 60px;
        button {
        border:  2px solid #1DA4A4;
        box-sizing: border-box;
        box-shadow: 7px 11px 19px rgba(0, 83, 83, 0.2);
        border-radius: 50px;
        cursor:pointer;
        transition:all.5s ease; 
        font-family: Ubuntu;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        text-transform: uppercase;
        color: #0B6B6B;
        padding: 0px 20px 0px 20px;
        margin-left: 40%;


        // p {
        //     font-family: Ubuntu;
        //     font-style: normal;
        //     text-transform: uppercase;
        //     color: #0B6B6B;
        //     padding: 10px 25px 10px 25px;
        //     font-size: 18px;
        //     font-weight: 500;
        // }
        &:hover, &:focus {
            border:  2px solid #EC5F72;
            color: #EC5F72;
          }
      }
    }
    
    

}


.erip-pay {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
    margin-bottom: 150px;

    .social-icons {
        display: flex;
        flex-direction: row;
        .social-icon {
            position: absolute;
            z-index: 2;
        }
        .social-icons-bg {
            .elem-1 {
                position: relative;
                z-index: 0;
                margin-left: -150px;
                 margin-top: -200px;
            }

            .elem-2 {
                position: relative;
                z-index: 1;
                margin-left: -600px;
            }
        }
        // background-image: url(./../images/bg-left.png);
        // background-repeat: no-repeat;
        // padding-right: 480px;
        // padding-top: 200px;
    }

    
    .pay {
        display: flex;
        flex-direction: column;
        background-image: url(./../images/bg-right.png);
        background-repeat: no-repeat;
        background-position: right;
        margin-right: -150px;
        background-size: contain;
        
        
        h2 {
        font-family: a_FuturaRoundDemi;
        font-weight: bold;
        font-size: 25px;
        line-height: 32px;
        }
        .pay-caption {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-family: a_FuturaRoundDemi;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.05em;
            color: #000000;
            
            img {
            padding-right: 20px;
            width: 50px;
            height: 40px;
            }
        }
    }
    .pay-bg {
        .elem-3 {
            position: relative;
            z-index: 1;
            margin-left: 60%;
            margin-top: -180px;
        }
        .elem-4 {
            position: relative;
            z-index: 2;
            margin-left: 100%;
        }
    }
}