.base {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 150px;

    .base-caption {
        display: flex;
        flex-direction: column;
       .caption {
        font-family: a_FuturaRoundDemi;
        font-weight: bold;
        letter-spacing: 0.05em;
        h1 {
            color: #EC5F72;
            font-size: 48px;}
        
       } 
    }
    .description {
        p {
            font-family: Ubuntu;
            color: #000;
            font-style: normal;
            font-weight: normal;
            font-size: 26px;}
    }
    .base-button {
        button {
        border:  2px solid #1DA4A4;
        box-sizing: border-box;
        box-shadow: 7px 11px 19px rgba(0, 83, 83, 0.2);
        border-radius: 50px;
        cursor:pointer;
        transition:all.5s ease;
        p {
            font-family: Ubuntu;
            font-style: normal;
            text-transform: uppercase;
            color: #0B6B6B;
            padding: 10px 25px 10px 25px;
            font-size: 18px;
            font-weight: 500;
        }
        &:hover, &:focus {
            border:  2px solid #EC5F72;
            color: #EC5F72;
          }
      }
    }
    
    .social-icons {
        display: flex;
        flex-direction: row;
        margin-top: 100px;
        position: absolute;
        z-index: 4;
        margin-top: 750px;
    }

}
.corners {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    z-index: 0;
    margin-top: 330px;
}