.wrapper-base {
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("/images/bg-left.png"),
                    url("/images/bg-right.png") ;
    background-repeat: no-repeat;
    background-position: left 0% bottom 0%,  right 0% bottom 0%;
    background-size: 65% 60%, 35% 60%;

    // background-image: url("/images/bg-right.png");
    // background-repeat: no-repeat;
    // background-position: right;
    // background-size: 35%;
    // background-position: right 0% bottom 0%;


    margin-bottom: 50px;

}

.base {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // flex-wrap: wrap;
    width: 80%;
   

    .base-caption {
        display: flex;
        flex-direction: column;
        // margin-top: 70px;
        // margin-left: 100px;

       .caption {
        font-family: a_FuturaRound;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 120%;
        letter-spacing: 0.05em;
        color: #EC5F72;
        h1 {
            color: #EC5F72;
            font-size: 48px;}

       }
    }
    .description {

        p {
            font-family: Ubuntu;
            color: #000;
            font-style: normal;
            font-weight: normal;
            font-size: 26px;
            line-height: 130%;
        }
    }
    .base-button {
        margin-top: 60px;
        button {
        border:  2px solid #1DA4A4;
        box-sizing: border-box;
        box-shadow: 7px 11px 19px rgba(0, 83, 83, 0.2);
        border-radius: 50px;
        cursor:pointer;
        transition:all.5s ease;
        font-family: Ubuntu;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        text-transform: uppercase;
        color: #0B6B6B;
        padding: 0px 20px;
        margin-left: 40%;


        // p {
        //     font-family: Ubuntu;
        //     font-style: normal;
        //     text-transform: uppercase;
        //     color: #0B6B6B;
        //     padding: 10px 25px 10px 25px;
        //     font-size: 18px;
        //     font-weight: 500;
        // }
        &:hover, &:focus {
            border:  2px solid #EC5F72;
            color: #EC5F72;
          }
      }
    }



}

.social-icons {
    display: flex;
    flex-direction: row;
    position: border-bottom;

    margin-top: 65%;
    .social-icon {

       margin-right: 10px;
    }

}

@media (max-width: 1400px ) {

    .base {

        background-size: 107% 60%;


        .base-caption {

            margin-top: 70px;
            margin-left: 40px;
            margin-right: 40px;

           .caption {
            font-size: 30px;
            line-height: 110%;
            letter-spacing: 0.05em;
            color: #EC5F72;
            h1 {
                font-size: 38px;}

           }
        }
        .base-button {
            margin-top: 30px;
            button {

            font-size: 16px;

            padding: 0px 15px;
            }
        }
        
    }

}


@media (min-width: 1024px ) {
  
    
        .wrapper-base {
            background-size: 105% 70%;
            background-image:url("/images/bg-mobile.png"),
            none ;
            
            .base {

                


                .base-caption {

                    margin-top: 70px;
                    margin-left: 40px;
                    margin-right: 40px;

                .caption {
                    font-size: 30px;
                    line-height: 110%;
                    letter-spacing: 0.05em;
                    color: #EC5F72;
                    h1 {
                        font-size: 38px;}

                }
                }
                .base-button {
                    margin-top: 30px;
                    button {

                    font-size: 16px;

                    padding: 0px 15px;
                    }
                }
                
            }
        }
    
}
