
.wrapper-foother {
   
    padding-top: 100px;
    background-image: url(/images/foother.png);
    background-size: 100% 75%;
    background-repeat: no-repeat;
    background-position-y: 100%;
   

    .foother-content {
        display: flex;
        flex-direction: row;
        padding: 70px 100px 100px 100px;
        align-items:center;
        justify-content: space-between;
        font-family: Ubuntu;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 23px;
        color: #0A3737;

        h4{
            font-family: a_FuturaRoundDemi;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 25px;
            letter-spacing: 0.03em;
            color: #E55266;
        }
    }
    .contacts {

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-family: Ubuntu;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 23px;
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 50px;
        padding-bottom: 70px;

        color: #FFFFFF;



        .soc-icons {
            display: flex;
            flex-direction: row;
            align-items:center;
            justify-content: flex-end;


            .icon {
                padding-left: 10px;
            }
        }
    }
}

@media (max-width: 1024px ) {

    .wrapper-foother {

        background-image: url(/images/f-bg-min.png);
        background-size: 100% 55%;
        background-repeat: no-repeat;
        background-position-y: 100%;


        .foother-content {
            margin-left: 80px;
            margin-right: 80px;


            .unit-3 {
                display: none;
            }

        }

    }
}

@media screen and (max-width: 768px ) {
    .wrapper-foother {
        padding-top: 100px;
        background-image: url(/images/f-bg-min.png);
        background-size: 100% 52%;
        background-repeat: no-repeat;
        background-position-y: 100%;
        .heading-foother{
    
    
            h1 {
                
                font-size: 40px;
                margin-left: 35%;
                
            }
            .bg-heading {
                margin-left: 34%;
            }
        }
    
        .foother-content {
            margin-left: 40px;
            margin-right: 40px;
    
            h4{
                font-family: a_FuturaRoundDemi;
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: 25px;
                letter-spacing: 0.03em;
                color: #E55266;
            }
            .unit-1 {
                margin-right: 10%;
            }
        }
        .contacts {
    

    
    
    
            .soc-icons {
                margin-top: 40px;
                display: flex;
                flex-direction: row;
                align-items:center;
                justify-content: center;
    
    
                .icon {
                    padding-left: 30px;
                }
            }
        }
    }
    
}