.wave{
    position: relative;
    width: 100%;
}
.letters{
    position: absolute;
    top: 0;
    right: 0;
    width: 42vw;
    margin-top: 727vh;
}
.foother {
    
    .heading-foother{
        
        
        h1 {
            font-family: a_FuturaRoundDemi;
            font-style: normal;
            font-weight: bold;
            font-size: 48px;
            line-height: 61px;
            letter-spacing: 0.05em;
            margin-top: -2%;
            position: absolute;
            z-index: 3;
            margin-left: 39%;
        }
        .bg-heading {
            margin-left: 39%;
            position: relative;
        }
    }

    .foother-content {
        display: flex;
        flex-direction: row;
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 200px;
        align-items:center;
        justify-content: space-between;
        font-family: Ubuntu;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 23px;
        color: #0A3737;

        h4{
            font-family: a_FuturaRoundDemi;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 25px;         
            letter-spacing: 0.03em;  
            color: #E55266; 
        }
    }
    .contacts {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-family: Ubuntu;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 23px;

        color: #FFFFFF;

        position: absolute;
        z-index: 4;
        margin-top: 170px;
        margin-left: 100px;

        .social-icons {
            display: flex;
            flex-direction: row;
            margin-top: 270px;
            margin-left: 280px;

            img {
                padding-left: 10px;
            }
        }
    }
}