header {
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    ul {
      li {
        font-family: a_FuturaRound;
        font-weight: 700px;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 0.1em;
        color: #FFFFFF;
        display: inline;
        list-style-type: none;
        // padding-left: 40px;
        text-align: center;
        margin-left: -45px;
        padding-right: 60px;
        font-size: 25px;
        a {
          text-decoration: none;
          margin-top: 15px;
          letter-spacing: 0.1em;
          color: rgb(252, 252, 252);
        }
        a:hover {
          color: #FFF968;
        }
      }
    }
  }

  .contacts {
    font-family: a_FuturaRoundDemi;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #D15742;
    text-align: center;
    .contacts__mode {
      font-weight: normal;
      font-size: 18px;
    }
  }
  .second-logo {
    img {
      width: 115%;
    }
  }
}
.hamburger-menu {
  display: none;
}
.main-navigation {
  background-image: url("/images/bg-up.png");
  
  padding: 50px 10px 100px 0px;
  background-repeat: no-repeat;
  background-size: contain;
  width: 35%;
  display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  @media screen and (max-width: 1024px ) {
    width: 65%;
  
  }
    
  @media screen and (max-width: 768px ) {
    background-size: 100% 80%;
    padding-bottom: 100px;
  }
}

// .wr-header {
//     height: 100vh;
// }

/*== Управление бургером =========*/
// .nav-toggle {
//   display: none;
// }
// .nav-toggle-label {
// position: absolut;
// display: none;
// flex-direction: column;
// height: 31px;
// cursor: pointer;
// }
// .burger__line {
// width: 25px;
// height: 3px;
// margin: 3px;
// background-color: #000;
// transition: 0.3s;
// }
// .burger__line--two {
// transition: 0s;
// }
// .nav-toggle-label.active .burger__line--one {
// transform: rotate(-45deg) translate(-6px, 7px);
// }
// .nav-toggle-label.active .burger__line--two {
// visibility: hidden;
// }
// .nav-toggle-label.active .burger__line--tree {
// transform: rotate(45deg) translate(-5px, -7px);
// }
// @media screen and (max-width: 768px) {
//   .nav-bar {
//     height: 50px;
//     padding: 0;
//     justify-content: space-between;
//     align-items: center;
//     background-color: rgba(20, 49, 31, 0.5);
// }
// .nav-toggle-label {
//     display: flex;
// }
// .main-menu {
//     position: absolute;
//     text-align: center;
//     background: rgba(0, 0, 0, 0.95);
//     top: 50px;
//     left: 0;
//     width: 0;
//     z-index: 2;
//     transform: scaleX(0);
//     transform-origin: left;
//     transition: 0.3s ease;
// }

// .main-menu__link {
//     display: block;
//     color: deepskyblue;
//     padding: 20px;
//     font-size: 18px;
// }
// }

 @media screen and (max-width: 768px ) {
  header {
    .container {
      // margin-left: 20px;
      // margin-right: 0px;
       ul {
         
          li {
           
            line-height: 25px;
          
            
            // padding-right: 25px;
            font-size: 23px;
          }
        
       }
     
     .contacts {
      display: none;
     }

  }

  .second-logo {
      display: none;
    }
  
  }
  
}
@media screen and (max-width: 650px) {
  header {
    .container {
        // margin-left: 20px;
        // margin-right: 0px;
        .first-logo {
          display: none;
        }
        .main-navigation {
          justify-content: space-between;
          flex-direction: row;
            background-size: 120% 95%;
            background-position-x: 40%;
            width: 100%;
            padding: 30px 0px 85px 0px;
        
          ul {
            
              li {
              
                line-height: 20px;
              
                margin-left: 0;
                 padding-right: 10px;
                // padding-right: 25px;
                font-size: 24px;
              }
            
          }
        }
     }  
  }
}

@media screen and (max-width: 376px) {
  header {
    .container {
        .hamburger-menu {
          display: flex;
          #menu__toggle {
            opacity: 0;
          }
          
          #menu__toggle:checked ~ .menu__btn {
           span {
            transform: rotate(45deg);
           }
          }
          #menu__toggle:checked ~ .menu__btn {
           span::before {
            top: 0;
            transform: rotate(0);
           }
          }
          #menu__toggle:checked ~ .menu__btn {
             span::after {
            top: 0;
            transform: rotate(90deg);
            }
          }
          #menu__toggle:checked ~ .menu__box {
            visibility: visible;
            left: 0;
          }
          
          .menu__btn {
            display: flex;
            align-items: center;
            position: fixed;
            top: 20px;
            left: 20px;
          
            width: 26px;
            height: 26px;
          
            cursor: pointer;
            z-index: 1;
          }
          
          .menu__btn {
            span, span::before, span::after {
              display: block;
              position: absolute;
            
              width: 100%;
              height: 2px;
            
              background-color: #616161;
            
              transition-duration: .25s;
            }
          }
          .menu__btn {
            span::before {
            content: '';
            top: -8px;
            }
          }
          .menu__btn {
            span::after {
            content: '';
            top: 8px;
            }
          }
          .menu__box {
            display: block;
            position: fixed;
            visibility: hidden;
            top: 0;
            left: -100%;
          
            width: 300px;
            height: 100%;
          
            margin: 0;
            padding: 80px 0;
          
            list-style: none;
          
            background-color: #ECEFF1;
            box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
          
            transition-duration: .25s;
            .menu__item {
              display: block;
              padding: 12px 24px;
            
              color: #333;
            
              font-family: 'Roboto', sans-serif;
              font-size: 20px;
              font-weight: 600;
            
              text-decoration: none;
            
              transition-duration: .25s;
            }
            .menu__item:hover {
              background-color: #CFD8DC;
            }
          }
        }
        .main-navigation {
         display: none;
        }
     }  
  }
}
