
.wrapper-news {
    padding-top: 150px;
     padding-bottom: 200px;
    background-image: url(/images/news-bg-1.png),
                    url(/images/news-bg-2.png),
                    url(/images/news-bg-3.png);
    background-position: left top 45%, left bottom, right bottom;

    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 650px ) {
        padding-top: 50px;
       }
}

.all-news {
    display: flex;
    justify-content: flex-end;
     margin-right: 15%;
     font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    margin-top: 100px;

    a {
        text-decoration: underline;
        color:#0B6B6B;
    }

}
.networks {
    padding-top: 90px;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .instagram-1, .instagram-2, .instagram-3 {

        flex-direction: column;
        justify-content: center;

        width: 344px;
        // height: 575px;
        background: #FFFFFF;
        border: 1px solid #B5BBBA;
        box-sizing: border-box;
        box-shadow: 2px 4px 10px rgba(11, 60, 60, 0.3);
        border-radius: 30px;
        transform: rotate(0.44deg);
        .foto {
            img {
              border-radius: 30px 30px 0px 0px;
               width: 343px;
               @media screen and (max-width: 320px ) {
                width: 302px;
            }
            }
        }
        .contents {
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 20px 30px 0px 30px;
            // margin-left: 30px;
            // margin-right: 30px;
           
            .text-content {
                margin-top: -10px;
                h4 {
                    font-family: Ubuntu;
                    font-style: normal;
                    font-weight: 800;
                    font-size: 18px;
                    line-height: 21px;
                    color: #000000;
                    a {
                        color: #2394df;
                    }
                }
                p {
                    font-family: Ubuntu;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 17px;
                    line-height: 20px;
                    color: #000000;

                }
            }
        }

        .btn-details {
            display: flex;
            align-items:center;
            justify-content: center;
            padding-bottom: 40px;
            button {
                
                border:0;
                border-radius: 50px;
                outline:none;
                font-size: 19px;
                font-family: Ubuntu;
                font-style: normal;
                line-height: 22px;
                background:#1DA4A4;
                color: #FFFFFF;
                width: 180px;
                height: 45px;
                transition:all.5s ease;
                -webkit-appearance: none;
                box-shadow: 0px 3.18095px 3.18095px rgba(170, 175, 182, 0.49);
                border-radius: 39.7619px;
                &:hover, &:focus {
                    background:rgb(20, 131, 131);
                }

            }
        }
        @media screen and (max-width: 650px ){
            
        }
    }
    
}

.network1 {
    position: relative;
    top: 0;
    left: 0;
}


@media screen and (max-width: 1024px )  {
    .wrapper-news {
        margin-top: 0px;
        margin-bottom: 0px;
        background-image: url(/images/news-bg-1.png),
                        none,
                        url(/images/news-bg-3.png);
            .all-news {
            display: flex;
            justify-content: flex-end;
            margin-right: 15%;
            font-family: Ubuntu;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            margin-top: 100px;

            a {
                text-decoration: underline;
                // text-decoration-style: dotted;
                color:#0B6B6B;
            }

            @media screen and (max-width: 650px ) {
                 font-size: 20px;
            }

        }



    }

    
    .networks {
        margin-top: 150px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 0px;
        padding-left: 50px;
        padding-right: 50px;

        .instagram-3 {
            display: none;
        }

        @media screen and (max-width: 768px ) {

            .instagram-1, .instagram-2 {
                margin-right: 15px;
            }
           
        }
        @media screen and (max-width: 650px ) {
            .instagram-2 {
                display: none;
            }
        }


    }
    // .single-item {
    //     visibility: hidden;
    //     height: 0;
     
    //     @media screen and (max-width: 650px ) {
    //         padding-top: 90px;
    //         padding-left: 5%;
    //         padding-right: 5%;
    //         height: auto;
    //         width: 300px;
    //         visibility: visible;
    //      }
    // }
}


