.news {
    margin-top: 250px;
    margin-bottom: 250px;
    padding-bottom: 200px;
    background-image: url(./../images/news-bg-1.png),
                    url(./../images/news-bg-2.png),
                    url(./../images/news-bg-3.png);
    background-position: left top 30%, left bottom, right bottom;
    background-repeat: no-repeat;

    .heading-news {

        padding-bottom: 100px;
        h1 {
            font-family: a_FuturaRoundDemi;
            font-style: normal;
            font-weight: bold;
            font-size: 48px;
            line-height: 61px;
            letter-spacing: 0.09em;
            position: absolute;
            z-index: 3;
            margin-left: 39%;
            margin-top: -1.5%;
            color: #0A3737;
        }
        .bg-news {
            img {
            position: relative;
            z-index: 1;
            margin-left: 38%;
            }
        }
    }
    
}

.all-news {
    display: flex;
    justify-content: flex-end;
     margin-right: 15%;
     font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    margin-top: 100px;

    a {
        text-decoration: underline;
        text-decoration-style: dotted;
        color:#0B6B6B;
    }

}
.networks {
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .instagram-1, .instagram-2, .instagram-3 {

        flex-direction: column;
        justify-content: center;
        
        width: 344px;
        height: 575px;
        background: #FFFFFF;
        border: 1px solid #B5BBBA;
        box-sizing: border-box;
        box-shadow: 2px 4px 10px rgba(11, 60, 60, 0.3);
        border-radius: 30px;
        transform: rotate(0.44deg);
        margin-right: 40px;

        .contents {
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            margin-left: 30px;
            margin-right: 30px;

            

            .foto {
                margin-left: 30px;
                img {
                padding-right: 25px;
                margin-top: 30px;
                }
            }
            .text-content {
                margin-top: -10px;
                h4 {
                    font-family: Ubuntu;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 21px;
                    color: #000000; 
                }
                p {
                    font-family: Ubuntu;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 17px;
                    line-height: 20px;
                    color: #000000;

                }
            }
        }

        .btn-details {
            display: flex;
            align-items:center;
            justify-content: center;
            button {
                border:0;
                border-radius: 50px;
                outline:none;
                font-size:19 px;
                text-transform:uppercase;
                letter-spacing:.1em;
                font-family: Ubuntu;
                font-style: normal;
                line-height: 22px;
                background:#1DA4A4;
                color: #FFFFFF;
                width: 180px;
                height: 45px;
                transition:all.5s ease;
                -webkit-appearance: none;
                box-shadow: 0px 3.18095px 3.18095px rgba(170, 175, 182, 0.49);
                border-radius: 39.7619px;
                &:hover, &:focus {
                    background:rgb(20, 131, 131);
                }
                 
            }
        }
    }
}

.network1 {
    position: relative;
    top: 0;
    left: 0;
}

@media (max-width: 1024px )  {
    .news {
        margin-top: 150px;
        margin-bottom: 150px;
        background-image: url(./../images/news-bg-1.png),
                        none,
                        url(./../images/news-bg-3.png);
    
      
        
    }
    
    .all-news {
        display: flex;
        justify-content: flex-end;
         margin-right: 15%;
         font-family: Ubuntu;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        margin-top: 100px;
    
        a {
            text-decoration: underline;
            text-decoration-style: dotted;
            color:#0B6B6B;
        }
    
    }
    .networks {
        margin-top: 150px;
        display: flex;
        flex-direction: row;
        justify-content: center;

        .instagram-3 {
            display: none;
        }


    
    
    }    
}