@font-face {
  font-family: "Ubuntu";
  font-display: block;
  src: url("../fonts/Ubuntu-Regular.ttf") format("truetype"),
  local("Arial");
}

@font-face {
  font-family: "a_FuturaRound";
  font-display: block;
  src: url("../fonts/a_FuturaRound.ttf") format("truetype"),
  local("Arial");
}
@font-face {
  font-family: "a_FuturaRoundDemi";
  font-display: block;
  src: url("../fonts/ofont.ru_a_FuturaRoundDemi.ttf") format("truetype"),
  local("Arial");
}
@font-face {
  font-family: "Comic Sans MS";
  font-display: block;
  src: url("../fonts/comic-sans-ms/design.graffiti.comicsansms.ttf") format("truetype"),
  local("Arial");
}