@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap&subset=cyrillic,cyrillic-ext');
@import url("http://allfont.ru/allfont.css?fonts=a_futurarounddemi");
@import url("http://allfont.ru/allfont.css?fonts=comic-sans-ms");
@import 'sections/header.scss';
@import 'sections/base.scss';
@import 'sections/form.scss';
@import 'sections/about.scss';
@import 'sections/team.scss';
@import 'sections/event.scss';
@import 'sections/news.scss';
@import 'sections/foother.scss';
@import 'sections/history.scss';
@import 'includes/normalize.scss';
// @import 'sections/burger-menu.scss';
 //@import 'reset.scss';
@import 'fonts';
@import 'settings.scss';
@import 'styles.scss';

body {

  overflow-x: hidden;
  margin : 0;
padding : 0;
}

@media screen and (max-width: 1024px ) {
  html, body {
  overflow-x: hidden;
  margin : 0;
padding : 0;
  }
}

// @media screen and (min-width: 768px ) {
//   html {
//     width: 768px;
//     overflow-x: scroll;

//   }
// }

