// @import "reset";
@import "fonts";
@import "settings";

.wr-doing{
  .container{
    @media all and (max-width: 414px) {
      padding: 0 70px;
    }
  }
}
.wrapper{
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 923px;
  width: 100%;
  height: 100%;
  height: min-content;
  .snake-background{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 90%;
  }
}

.spot{
  width: 100%;
  position: relative;
  &:nth-of-type(2n){
    align-self: flex-end;
  }

  @media all and (max-width: 550px) {
    position: static;
    &:nth-of-type(2n){
      align-self: flex-start;
    }
    .spot-bkg{
      width: auto;
      height: auto;
    }
  }
}
.spot-1{
  max-width: 508px;
  top: 20px;
  right: 50px;
}
.spot-2{
  max-width: 502px;
  top: 20px;
  right: 50px;
}
.spot-3{
  max-width: 488px;
  left: -40px;
}
.spot-4{
  max-width: 485px;
  top: -70px;
  right: -40px;
  @media all and (max-width: 924px) {
    position: static;
    top: -20px;
  }
}
.spot-5{
  max-width: 502px;
  top: -25px;
  left: 67px;
  @media all and (max-width: 769px) {
    top: 0px;
    left: 0px;
  }
}
.spot-6{
  max-width: 482px;
  right: 60px;
  top: -10px;
}


.spot-wrapper {
  position: relative;
  .spot-bkg{
    width: 100%;
    height: auto;
  }
  .bkg{
    width: 100%;
    height: auto;
  }
  .content{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 80%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    img{
      width: 24%;
      margin-right: 7%;
    }
    p{
      font-family: "Ubuntu";
      font-size: 24px;
      width: 280px;
      @media all and (max-width: 550px) {
        font-size: 20px;
      }
      @media all and (max-width: 340px) {
        font-size: 17px;
      }
    }
  }

}
.heading-doing {
  margin-bottom: 100px;
  h1 {
    font-family: a_FuturaRoundDemi;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 61px;
    letter-spacing: 0.05em;
    position: absolute;
    z-index: 3;
    margin-left: 36%;
    margin-top: -1.5%;
    color: #0A3737;
  }
  .bg-heading {
      img {
      position: relative;
      z-index: 1;
      margin-left: 35%;
      }
  }
  .doing-description {
    p {
      font-family: Ubuntu;
      font-style: normal;
      font-weight: normal;
      font-size: 32px;
      line-height: 130%;
      text-align: center;
      color: #333333;
    }
  }
  @media screen and (max-width: 768px ) {
    h1 {
      font-size: 40px;
      margin-left: 30%;
      margin-top: -1.5%;
      @media screen and (max-width: 600px ) {
        font-size: 30px;
      }
    }
    .bg-heading {
        img {
        position: relative;
        z-index: 1;
        margin-left: 29%;
        }
    }
    .doing-description {
      p {
        font-size: 27px;
      }
    }
  }
}