doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title Step
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    body
        main
            section.wr-doing
                div.container
                    div#search-btn.search-btn
                        svg.search-icon
                            use(xlink:href="#search-icon")
                    input#search-input(type="text" placeholder="Search movie" autofocus)
                    div.clear
                        svg#clear-btn.clear-icon.hide
                            use(xlink:href="#clear-icon")
                        svg#keybaord-btn.keybaord-icon
                            use(xlink:href="#keyboard-icon")

svg(display="none")
    defs
        symbol(id="search-icon" enable-background='new 0 0 551.13 551.13'  viewbox='0 0 551.13 551.13'  xmlns='http://www.w3.org/2000/svg')
            path(d='m551.13 526.776-186.785-186.785c30.506-36.023 49.003-82.523 49.003-133.317 0-113.967-92.708-206.674-206.674-206.674s-206.674 92.707-206.674 206.674 92.707 206.674 206.674 206.674c50.794 0 97.294-18.497 133.317-49.003l186.785 186.785s24.354-24.354 24.354-24.354zm-344.456-147.874c-94.961 0-172.228-77.267-172.228-172.228s77.267-172.228 172.228-172.228 172.228 77.267 172.228 172.228-77.267 172.228-172.228 172.228z')
        symbol(id="clear-icon" x='0px' y='0px' viewbox='0 0 512 512' fill='inherit' style='enable-background:new 0 0 512 512;' xml:space='preserve')
            path(d='M368.854,347.642l-91.641-91.641l91.641-91.641c5.857-5.858,5.857-15.355-0.001-21.212\
              c-5.857-5.858-15.355-5.858-21.213,0L256,234.788l-91.641-91.641c-5.857-5.858-15.355-5.858-21.213,0\
              c-5.858,5.858-5.858,15.355,0,21.213l91.641,91.641l-91.641,91.641c-5.858,5.858-5.858,15.355,0,21.213\
              c2.929,2.929,6.768,4.393,10.606,4.393c3.839,0,7.678-1.464,10.607-4.393L256,277.214l91.641,91.641\
              c2.929,2.929,6.768,4.393,10.607,4.393s7.678-1.464,10.606-4.393C374.712,362.997,374.712,353.5,368.854,347.642z')
        symbol(id="keyboard-icon" viewbox='0 0 481.9 481.9' fill='inherit')
            //style. fill='#64798A' fill='#64798A'
            //    .a{fill:#64798A;} D5D6DB fill='inher it'
            path(class="keyboard-bkg" d='M472.2 115H9.6c-5.4 0-9.6 4.2-9.6 9.6v232.5c0 5.4 4.2 9.6 9.6 9.6h462.6c5.4 0 9.6-4.2 9.6-9.6V124.7C481.9 119.3 477.7 115 472.2 115z' fill="#D5D6DB")
            path.a(d='M44 162.6H15.7c-0.6 0-1.8 0.6-1.8 1.8v12c0 0.6 1.2 1.2 1.8 1.2h28.3c0.6 0 1.8-0.6 1.8-1.8V163.8C45.2 163.2 44.6 162.6 44 162.6z')
            path.a(d='M86.1 162.6H57.8c-0.6 0-1.8 0.6-1.8 1.8v12c0 0.6 0.6 1.8 1.8 1.8h28.3c0.6 0 1.8-0.6 1.8-1.8v-12C87.9 163.2 86.7 162.6 86.1 162.6z')
            path.a(d='M128.3 162.6H100c-0.6 0-1.8 0.6-1.8 1.8v12c0 0.6 0.6 1.8 1.8 1.8h28.3c0.6 0 1.8-0.6 1.8-1.8v-12C130.1 163.2 129.5 162.6 128.3 162.6z')
            path.a(d='M170.5 162.6h-28.3c-0.6 0-1.8 0.6-1.8 1.8v12c0 0.6 0.6 1.8 1.8 1.8h28.3c0.6 0 1.8-0.6 1.8-1.8v-12C172.3 163.2 171.7 162.6 170.5 162.6z')
            path.a(d='M212.6 162.6H184.3c-0.6 0-1.8 0.6-1.8 1.8v12c0 0.6 0.6 1.8 1.8 1.8h28.3c0.6 0 1.8-0.6 1.8-1.8v-12C214.4 163.2 213.8 162.6 212.6 162.6z')
            path.a(d='M254.8 162.6h-28.3c-0.6 0-1.8 0.6-1.8 1.8v12c0 0.6 0.6 1.8 1.8 1.8h28.3c0.6 0 1.8-0.6 1.8-1.8v-12C256.6 163.2 256 162.6 254.8 162.6z')
            path.a(d='M297 162.6h-28.3c-0.6 0-1.8 0.6-1.8 1.8v12c0 0.6 0.6 1.8 1.8 1.8h28.3c0.6 0 1.8-0.6 1.8-1.8v-12C298.8 163.2 298.2 162.6 297 162.6z')
            path.a(d='M339.7 162.6h-28.3c-0.6 0-1.8 0.6-1.8 1.8v12c0 0.6 0.6 1.8 1.8 1.8h28.3c0.6 0 1.8-0.6 1.8-1.8v-12C340.9 163.2 340.3 162.6 339.7 162.6z')
            path.a(d='M381.9 162.6h-28.3c-0.6 0-1.8 0.6-1.8 1.8v12c0 0.6 0.6 1.8 1.8 1.8h28.3c0.6 0 1.8-0.6 1.8-1.8v-12C383.1 163.2 382.5 162.6 381.9 162.6z')
            path.a(d='M424.1 162.6h-28.3c-0.6 0-1.8 0.6-1.8 1.8v12c0 0.6 0.6 1.8 1.8 1.8h28.3c0.6 0 1.8-0.6 1.8-1.8v-12C425.3 163.2 424.7 162.6 424.1 162.6z')
            path.a(d='M466.2 162.6h-28.3c-0.6 0-1.8 0.6-1.8 1.8v12c0 0.6 0.6 1.8 1.8 1.8h28.3c0.6 0 1.8-0.6 1.8-1.8v-12C468 163.2 466.8 162.6 466.2 162.6z')
            path.a(d='M45.2 193.4H15.7c-1.2 0-1.8 0.6-1.8 1.8v24.7c0 0.6 0.6 1.8 1.8 1.8h29.5c1.2 0 1.8-0.6 1.8-1.8v-24.7C47 194.6 46.4 193.4 45.2 193.4z')
            path.a(d='M89.1 193.4H59.6c-1.2 0-1.8 0.6-1.8 1.8v24.7c0 0.6 0.6 1.8 1.8 1.8h29.5c1.2 0 1.8-0.6 1.8-1.8v-24.7C91 194.6 90.4 193.4 89.1 193.4z')
            path.a(d='M133.7 193.4h-29.5c-1.2 0-1.8 0.6-1.8 1.8v24.7c0 0.6 0.6 1.8 1.8 1.8h29.5c1.2 0 1.8-0.6 1.8-1.8v-24.7C135.5 194.6 134.3 193.4 133.7 193.4z')
            path.a(d='M177.7 193.4h-29.5c-1.2 0-1.8 0.6-1.8 1.8v24.7c0 0.6 0.6 1.8 1.8 1.8h29.5c1.2 0 1.8-0.6 1.8-1.8v-24.7C179.5 194.6 178.9 193.4 177.7 193.4z')
            path.a(d='M221.7 193.4h-29.5c-1.2 0-1.8 0.6-1.8 1.8v24.7c0 0.6 0.6 1.8 1.8 1.8h29.5c1.2 0 1.8-0.6 1.8-1.8v-24.7C223.5 194.6 222.9 193.4 221.7 193.4z')
            path.a(d='M266.2 193.4h-29.5c-1.2 0-1.8 0.6-1.8 1.8v24.7c0 0.6 0.6 1.8 1.8 1.8h29.5c1.2 0 1.8-0.6 1.8-1.8v-24.7C268 194.6 266.8 193.4 266.2 193.4z')
            path.a(d='M310.2 193.4h-29.5c-1.2 0-1.8 0.6-1.8 1.8v24.7c0 0.6 0.6 1.8 1.8 1.8h29.5c1.2 0 1.8-0.6 1.8-1.8v-24.7C312 194.6 311.4 193.4 310.2 193.4z')
            path.a(d='M354.8 193.4h-29.5c-1.2 0-1.8 0.6-1.8 1.8v24.7c0 0.6 0.6 1.8 1.8 1.8h29.5c1.2 0 1.8-0.6 1.8-1.8v-24.7C356 194.6 355.4 193.4 354.8 193.4z')
            path.a(d='M398.8 193.4h-29.5c-1.2 0-1.8 0.6-1.8 1.8v24.7c0 0.6 0.6 1.8 1.8 1.8h29.5c1.2 0 1.8-0.6 1.8-1.8v-24.7C400.6 194.6 399.4 193.4 398.8 193.4z')
            path.a(d='M466.2 193.4h-54.2c-0.6 0-1.8 0.6-1.8 1.8v24.7c0 0.6 0.6 1.8 1.8 1.8h54.2c0.6 0 1.8-0.6 1.8-1.8v-24.7C468 194.6 466.8 193.4 466.2 193.4z')
            path.a(d='M45.2 313.2H15.7c-1.2 0-1.8 0.6-1.8 1.8v32.5c0 0.6 0.6 1.8 1.8 1.8h29.5c1.2 0 1.8-0.6 1.8-1.8v-32.5C47 313.8 46.4 313.2 45.2 313.2z')
            path.a(d='M89.1 313.2H59.6c-1.2 0-1.8 0.6-1.8 1.8v32.5c0 0.6 0.6 1.8 1.8 1.8h29.5c1.2 0 1.8-0.6 1.8-1.8v-32.5C91 313.8 90.4 313.2 89.1 313.2z')
            path.a(d='M266.2 313.2H104.2c-1.2 0-1.8 0.6-1.8 1.8v32.5c0 0.6 0.6 1.8 1.8 1.8H266.2c1.2 0 1.8-0.6 1.8-1.8v-32.5C268 313.8 266.8 313.2 266.2 313.2z')
            path.a(d='M310.2 313.2h-29.5c-1.2 0-1.8 0.6-1.8 1.8v32.5c0 0.6 0.6 1.8 1.8 1.8h29.5c1.2 0 1.8-0.6 1.8-1.8v-32.5C312 313.8 311.4 313.2 310.2 313.2z')
            path.a(d='M350.6 313.2h-29.5c-1.2 0-1.8 0.6-1.8 1.8v32.5c0 0.6 0.6 1.8 1.8 1.8h29.5c1.2 0 1.8-0.6 1.8-1.8v-32.5C352.4 313.8 351.8 313.2 350.6 313.2z')
            path.a(d='M389.7 333.1h-29.5c-1.2 0-1.8 0.6-1.8 1.8v12.6c0 0.6 0.6 1.8 1.8 1.8h29.5c1.2 0 1.8-0.6 1.8-1.8v-12.6C391.5 334.3 390.9 333.1 389.7 333.1z')
            path.a(d='M466.2 333.1h-29.5c-1.2 0-1.8 0.6-1.8 1.8v12.6c0 0.6 0.6 1.8 1.8 1.8h29.5c1.2 0 1.8-0.6 1.8-1.8v-12.6C468 334.3 466.8 333.1 466.2 333.1z')
            path.a(d='M427.7 333.1h-29.5c-1.2 0-1.8 0.6-1.8 1.8v12.6c0 0.6 0.6 1.8 1.8 1.8h29.5c1.2 0 1.8-0.6 1.8-1.8v-12.6C428.9 334.3 428.3 333.1 427.7 333.1z')
            path.a(d='M427.7 315h-29.5c-1.2 0-1.8 0.6-1.8 1.8v12.6c0 0.6 0.6 1.8 1.8 1.8h29.5c1.2 0 1.8-0.6 1.8-1.8v-13.3C428.9 315.6 428.3 315 427.7 315z')
            path.a(d='M436.7 262h29.5c1.2 0 1.8-0.6 1.8-1.8V235.5c0-0.6-0.6-1.8-1.8-1.8h-29.5c-1.2 0-1.8 0.6-1.8 1.8v24.7C434.9 260.8 435.5 262 436.7 262z')
            path.a(d='M392.7 262h29.5c1.2 0 1.8-0.6 1.8-1.8V235.5c0-0.6-0.6-1.8-1.8-1.8h-29.5c-1.2 0-1.8 0.6-1.8 1.8v24.7C390.9 260.8 391.5 262 392.7 262z')
            path.a(d='M348.2 262h29.5c1.2 0 1.8-0.6 1.8-1.8V235.5c0-0.6-0.6-1.8-1.8-1.8H348.2c-1.2 0-1.8 0.6-1.8 1.8v24.7C346.4 260.8 347.6 262 348.2 262z')
            path.a(d='M304.2 262h29.5c1.2 0 1.8-0.6 1.8-1.8V235.5c0-0.6-0.6-1.8-1.8-1.8h-29.5c-1.2 0-1.8 0.6-1.8 1.8v24.7C302.4 260.8 303 262 304.2 262z')
            path.a(d='M260.2 262h29.5c1.2 0 1.8-0.6 1.8-1.8V235.5c0-0.6-0.6-1.8-1.8-1.8h-29.5c-1.2 0-1.8 0.6-1.8 1.8v24.7C258.4 260.8 259 262 260.2 262z')
            path.a(d='M215.6 262h29.5c1.2 0 1.8-0.6 1.8-1.8V235.5c0-0.6-0.6-1.8-1.8-1.8h-29.5c-1.2 0-1.8 0.6-1.8 1.8v24.7C213.8 260.8 215 262 215.6 262z')
            path.a(d='M171.7 262h29.5c1.2 0 1.8-0.6 1.8-1.8V235.5c0-0.6-0.6-1.8-1.8-1.8h-29.5c-1.2 0-1.8 0.6-1.8 1.8v24.7C169.9 260.8 170.5 262 171.7 262z')
            path.a(d='M127.1 262h29.5c1.2 0 1.8-0.6 1.8-1.8V235.5c0-0.6-0.6-1.8-1.8-1.8h-29.5c-1.2 0-1.8 0.6-1.8 1.8v24.7C125.9 260.8 126.5 262 127.1 262z')
            path.a(d='M83.1 262h29.5c1.2 0 1.8-0.6 1.8-1.8V235.5c0-0.6-0.6-1.8-1.8-1.8H83.1c-1.2 0-1.8 0.6-1.8 1.8v24.7C81.3 260.8 82.5 262 83.1 262z')
            path.a(d='M15.7 262h54.2c0.6 0 1.8-0.6 1.8-1.8V235.5c0-0.6-0.6-1.8-1.8-1.8H15.7c-0.6 0-1.8 0.6-1.8 1.8v24.7C13.9 260.8 15.1 262 15.7 262z')
            path.a(d='M365 301.8h29.5c1.2 0 1.8-0.6 1.8-1.8v-24.7c0-0.6-0.6-1.8-1.8-1.8h-29.5c-1.2 0-1.8 0.6-1.8 1.8v24.7C363.8 301.2 364.4 301.8 365 301.8z')
            path.a(d='M321.1 301.8h29.5c1.2 0 1.8-0.6 1.8-1.8v-24.7c0-0.6-0.6-1.8-1.8-1.8h-29.5c-1.2 0-1.8 0.6-1.8 1.8v24.7C319.2 301.2 319.8 301.8 321.1 301.8z')
            path.a(d='M277.1 301.8h29.5c1.2 0 1.8-0.6 1.8-1.8v-24.7c0-0.6-0.6-1.8-1.8-1.8h-29.5c-1.2 0-1.8 0.6-1.8 1.8v24.7C275.3 301.2 275.9 301.8 277.1 301.8z')
            path.a(d='M232.5 301.8h29.5c1.2 0 1.8-0.6 1.8-1.8v-24.7c0-0.6-0.6-1.8-1.8-1.8h-29.5c-1.2 0-1.8 0.6-1.8 1.8v24.7C231.3 301.2 231.9 301.8 232.5 301.8z')
            path.a(d='M188.5 301.8h29.5c1.2 0 1.8-0.6 1.8-1.8v-24.7c0-0.6-0.6-1.8-1.8-1.8h-29.5c-1.2 0-1.8 0.6-1.8 1.8v24.7C186.7 301.2 187.3 301.8 188.5 301.8z')
            path.a(d='M144.6 301.8h29.5c1.2 0 1.8-0.6 1.8-1.8v-24.7c0-0.6-0.6-1.8-1.8-1.8h-29.5c-1.2 0-1.8 0.6-1.8 1.8v24.7C142.8 301.2 143.4 301.8 144.6 301.8z')
            path.a(d='M100 301.8h29.5c1.2 0 1.8-0.6 1.8-1.8v-24.7c0-0.6-0.6-1.8-1.8-1.8H100c-1.2 0-1.8 0.6-1.8 1.8v24.7C98.8 301.2 99.4 301.8 100 301.8z')
            path.a(d='M15.7 301.8h71.7c0.6 0 1.8-0.6 1.8-1.8v-24.7c0-0.6-0.6-1.8-1.8-1.8h-71.7c-0.6 0-1.8 0.6-1.8 1.8v24.7C13.9 301.2 15.1 301.8 15.7 301.8z')
            path.a(d='M412 301.8h54.2c0.6 0 1.8-0.6 1.8-1.8v-24.7c0-0.6-0.6-1.8-1.8-1.8h-54.2c-0.6 0-1.8 0.6-1.8 1.8v24.7C410.2 301.2 410.8 301.8 412 301.8z')
