doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title Step
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    body
        main
            section.wr-doing
                div.container
                    .wrapper
                        svg.snake-background
                            use(xlink:href="#snake")
                        .spot.spot-1
                            .spot-wrapper
                                img.spot-bkg(src="./images/spot1.png" alt="step-background")
                                .content
                                    img.icon(src="./images/spot1-icon.png" alt="step-icon")
                                    p Учим воспитанников распределять бюджет
                        .spot.spot-2
                            .spot-wrapper
                                img.spot-bkg(src="./images/spot2.png" alt="step-background")
                                .content
                                    img.icon(src="./images/spot2-icon.png" alt="step-icon")
                                    p Объясняем, как выбирать продукты в магазине
                        .spot.spot-3
                            .spot-wrapper
                                img.spot-bkg(src="./images/spot3.png" alt="step-background")
                                .content
                                    img.icon(src="./images/spot3-icon.png" alt="step-icon")
                                    p Учим, как платить за коммунальные услуги
                        .spot.spot-4
                            .spot-wrapper
                                img.spot-bkg(src="./images/spot4.png" alt="step-background")
                                .content
                                    img(src="./images/spot4-icon.png" alt="step-icon")
                                    p Объясняем, что такое кредиты
                        .spot.spot-5
                            .spot-wrapper
                                img.spot-bkg(src="./images/spot5.png" alt="step-background")
                                .content
                                    img.icon(src="./images/spot5-icon.png" alt="step-icon")
                                    p Учим пользоваться банковскими картами
                        .spot.spot-6
                            .spot-wrapper
                                img.spot-bkg(src="./images/spot6.png" alt="step-background")
                                .content
                                    img.icon(src="./images/spot6-icon.png" alt="step-icon")
                                    p Рассказываем, какие бывают документы

svg(display="none")
    defs
        symbol(id="snake" viewBox='0 0 928 1115' preserveAspectRatio="none" fill='none', xmlns='http://www.w3.org/2000/svg')
            path(d='M214.224 80.5808C214.224 80.5808 670.516 -21.375 755.503 8.07912C840.491 37.5332 943.789 103.145 922.619 197.737C901.449 292.33 341.205 272.237 229.619 286.737C118.032 301.237 -31.0372 359.237 55.2474 603.737C141.532 848.237 465.159 562.737 788.032 562.737C956.032 562.737 936.119 772.237 874.123 801.952C605.808 930.557 158.763 646.262 19.032 883.737C-11.9634 936.415 -1.09304 1018.34 55.2473 1085.24C106.618 1146.23 436.119 1085.24 436.119 1085.24', stroke='#1DA4A4', stroke-width='4', stroke-linecap='round', stroke-dasharray='4 12')
