@font-face {
  font-family: "Roboto-Bold";
  font-display: block;
  src: url("../fonts/Roboto-Bold.ttf") format("truetype"),
  local("Arial");
}
@font-face {
  font-family: "Roboto-Regular";
  font-display: block;
  src: url("../fonts/Roboto-Regular.ttf") format("truetype"),
  local("Arial");
}
@font-face {
  font-family: "Roboto-Light";
  font-display: block;
  src: url("../fonts/Roboto-Light.ttf") format("truetype"),
  local("Arial");
}
@font-face {
  font-family: "Pacifico";
  font-display: block;
  src: url("../fonts/Pacifico-Regular.ttf") format("truetype"),
  local("Times New Roman");
}
@font-face {
  font-family: "Lato-Black";
  font-display: block;
  src: url("../fonts/Lato-Black.ttf") format("truetype"),
  local("Times New Roman");
}
@font-face {
  font-family: "Lato-Bold";
  font-display: block;
  src: url("../fonts/Lato-Bold.ttf") format("truetype"),
  local("Times New Roman");
}
@font-face {
  font-family: "Lato-Light";
  font-display: block;
  src: url("../fonts/Lato-Light.ttf") format("truetype"),
  local("Times New Roman");
}
@font-face {
  font-family: "Lato-Regular";
  font-display: block;
  src: url("../fonts/Lato-Regular.ttf") format("truetype"),
  local("Times New Roman");
}